<h1><%= @post.post_title %></h1>
<p><%= raw(@post.post_content) %></p>
<p>
	<% if @post.user == current_user %>
		<%= link_to 'edit post', edit_post_path(@post) %>
	<% else %>
	<% end %>

</p>
<h2>Comments</h2>
<% if current_user %>
			<p><%= link_to "Submit Comment", new_post_comment_path(@post) %></p>
		<% else %>
			You must be logged in to comment.
		<% end %>
<ul>
	<% @post.comments.each do |comment| %>
	<li><%= comment.comment_content %> by <p>by <%= link_to comment.user.name, user_comments_path(comment.user) %></p></li>
	<% end %>
</ul>
<p>by <%= @post.user.name %></p>
